<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de noticias</title>
		</head>
	<body>

		<h1><%= noticia[0].titulo %></h1>

		<ul>
			<li><%= noticia[0].id_noticias %></li>
			<li><%= noticia[0].noticia %></li>
		</ul>

	</body>
</html>